# Hashed Admin Password (generate using the command: node -e "const b=require('bcrypt');b.hash('yourpassword',12).then(console.log)")
ADMIN_PASSWORD_HASH=

# Session Secret (for admin account)
SESSION_SECRET=

# Encryption Key (AES-256)
ENCRYPTION_KEY=

# MXRoute API Credentials
MXROUTE_SERVER=
MXROUTE_USERNAME=
MXROUTE_API_KEY=

# SMTP Settings (used to send password reset link)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Base URL (DO NOT INCLUDE A TRAILING SLASH) - IMPORTANT FOR BASE URL IN PASSWORD LINK SENT VIA EMAIL
BASE_URL=http://localhost:3000

# Server Port
PORT=3000